---
import { cn } from '@/lib/utils'
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'div'> {
  value: string
  class?: string
}

const { value, class: className = '', ...props } = Astro.props

const classes = cn(
  // Base styles are handled by the Tabs component CSS
  className
)
---

<div
  class={classes}
  role="tabpanel"
  data-tab-panel
  data-value={value}
  tabindex="0"
  {...props}
>
  <slot />
</div>
